[Unit]
Description=Set up and then update system
Wants=network-online.target
After=network-online.target
FailureAction=reboot
SuccessAction=reboot

[Service]
ExecStart=/usr/local/bin/set-up-and-update.sh
