# The goal of this project is to make it so that I can install RHEL
# completely automatically. I want this kickstart file to fail if user
# interaction is required because I want to know when user interaction
# is required so that I can eliminate it.
cmdline

ignoredisk --only-use=disk/by-path/virtio-pci-0000:05:00.0
clearpart --all
autopart

rootpw --lock
user --name=jayman --groups=wheel --iscrypted --password={{
	jasons_kickstart_compiler.get_field(
		"jayman",
		prompt="Password for jayman: ",
		is_password=True,
		encrypt_password=True
	)
}}

%packages
# This section is intentionally left empty. In general, it’s not a very
# good idea to depend on the %packages section to install packages.
# Adding packages to %packages is easy, but the only way to make sure
# that a system actually has those packages installed is to reinstall
# the system.
#
# In fact, I would prefer to not include a packages section at all, but
# Anaconda aborts the installation if you do that.
%end
