# The goal of this project is to make it so that I can install RHEL
# completely automatically. I want this kickstart file to fail if user
# interaction is required because I want to know when user interaction
# is required so that I can eliminate it.
cmdline

rhsm --organization={{
	jasons_kickstart_compiler.get_field("Organization id")
}} --activation-key="{{
	jasons_kickstart_compiler.get_field(
		"Activation key",
		is_password=True,
		encrypt_password=False
	)
}}"

ignoredisk --only-use={{
	jasons_kickstart_compiler.get_field("disk path")
}}
clearpart --all
autopart

lang en_US
network --hostname={{
	jasons_kickstart_compiler.get_field("hostname")
}}

rootpw --lock
user --name=jayman --groups=wheel --iscrypted --password={{
	jasons_kickstart_compiler.get_field(
		"jayman",
		prompt="Password for jayman: ",
		is_password=True,
		encrypt_password=True
	)
}}

%packages
# This section is intentionally kept very minimal. It only includes the
# bare minimum required to run the self-extracting post script. In
# general, it’s not a very good idea to depend on the %packages section
# to install packages. Adding packages to %packages is easy, but the
# only way to make sure that a system actually has those packages
# installed is to reinstall the system.
{{ jasons_kickstart_compiler.dependencies_for_self_extracting_post_script() }}
# Dependencies for the self-extracting post script’s entry-point:
coreutils
bash
sudo
systemd
# Dependencies for /usr/local/bin/set-up-and-update.sh
dnf
rpm
%end

{{ jasons_kickstart_compiler.self_extracting_post_script(Path("post_script_payload")) }}

reboot
